
.chat {

    background-image: url(https://r1.ilikewallpaper.net/pic/201505/papers_co_vf80_green_ornament_texture_pattern_34_iphone6_plus_wallpaper_640.jpg);
    width: 80vw;
    min-height: 60vh;
    margin: 0px auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 15px 10px;
}



